<header class="bg-warning navbar navbar-fixed-top text-dark ">

<div class="container ">
  
  <%=link_to "Pudding House",root_path,id: "logo"%>
  
  <nav>
  <ul class="nav navbar-nav navbar-right ">
   <li><%=link_to "about",root_path,id: "menu-icon1",class: "menu-item"%></li>
   <li><%=link_to "profiel",root_path,id: "menu-icon2",class: "menu-item"%></li>
   <li><%=link_to "rogin",root_path,id: "menu-icon3",class: "menu-item"%></li>
   </ul>
   </nav>
 
   </div>
   
</header>